# Xcode
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Fastlane / misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
